<!-- prefetch -->
<link rel="dns-prefetch" href="go.dev" />
<link rel="dns-prefetch" href="github.com" />

<link rel="preconnect" href="https://in.getclicky.com" crossorigin="anonymous"/>
<link rel="preconnect" href="https://static.getclicky.com" crossorigin="anonymous"/>

<link rel="prefetch" href="/img/av0_457x457.webp" as="image" fetchpriority="hugh">
<link rel="prefetch" href="/img/cc_22x22.webp" as="image" fetchpriority="high">
<link rel="prefetch" href="/img/bb_22x22.webp" as="image" fetchpriority="high">

<script type="speculationrules">
  {
    "prerender": [
      {
        "source": "list",
        "urls": ["about/"]
      }
    ]
  }
</script>

<!-- end prefetch -->


<!-- pagefind -->
<link rel="preload" href="/pagefind/pagefind-ui.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<style>
.pagefind-ui {
  max-width: 836px;
  margin: auto;
  padding-left: 18px;
  padding-right: 18px;
}
</style>
<script>
  function getFirstElementByClassName(className) {
    var elements = document.getElementsByClassName(className);
    if (elements.length == 0) {
      return null;
    }
    return elements[0];
  }

  function insertSearchDiv(divID) {
      var wrapper = getFirstElementByClassName('wrapper');
      if (!wrapper) {
        console.error('failed to find wrapper element');
      }
      var nav = getFirstElementByClassName('navigation');
      if (!nav) {
        console.error('failed to find navigation element');
      }

      var searchDiv = document.createElement('div');
      searchDiv.id = divID;
      nav.parentNode.insertBefore(searchDiv, nav.nextSibling);
  }

  function registerPagefindUI(searchID) {
      new PagefindUI({ element: '#'+searchID, showSubResults: true });
  }

  const searchID = 'pagefind-search';

  let w = false;
  let r = false;
  function callback() {
    if (w && r) {
      insertSearchDiv(searchID);
      registerPagefindUI(searchID);
    }
  };

  (function(document, window){
    let script = document.createElement('script');
    script.src = "/pagefind/pagefind-ui.js";
    script.async = true;
    let t = document.getElementsByTagName('script')[0];
    t.parentNode.insertBefore(script, t);
    script.onload = function() {
      if (!r) {
        r = true;
        callback();
      }
    };

    window.addEventListener('DOMContentLoaded', function() {
      w = true;
      callback();
    });
  })(document, window);
</script>
<!-- end pagefind -->
